@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    src: url("../font/NetflixSans-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    src: url("../font/NetflixSans-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'Netflix Sans';
	font-weight: 500;
	src: url("../font/NetflixSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    src: url("../font/NetflixSans-Bold.otf") format("opentype")
}
#app {
	font-family: "Netflix Sans";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.underline {
    text-decoration: underline;
}
body {
	font-family: "Netflix Sans";
	margin: 0;
    background-color: rgb(20, 20, 20);
}
body, html {
    overflow-x: hidden;
}
.color-white {
    color: white;
}